.mobile-menu-inner{
    height: 100%;
    background-color: #1f1f1f;
    position: fixed;
    max-width: 300px;
    width: 60%;
    border-radius: 0 20px 20px 0;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(-300px);
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    font-size: 22px;
}
.mobile-menu-inner.mobile-menu-inner__open{
    transform: translateX(0px);
}
.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: all 800ms ease-in;
}
.overlay-show{
    opacity: 0.5;
}
.mobile-menu-list{
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mobile-menu-list li{
    padding-top: 5px;
    padding-bottom: 5px;
}