@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.app{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    text-decoration: none;
}
a:hover{
    color: #f60;
}
li{
    list-style: none;
}