.header{
    position: sticky;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 16px;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    z-index: 10;
    padding-bottom: 10px;
}
a{
    color: #fff;
}
.burger-wrapper{
    display: none;
}
.burger-img{
    font-size: 26px;
    cursor: pointer;
}

.header-inner, .header-nav, .nav-list{
    display: flex;
    align-items: center;
}
.header-inner{
    padding-top: 10px;
    justify-content: space-between;
}
.header-nav{
    padding-right: 10px;
}
.nav-list{
    margin: 0;
    padding-left: 0;
    margin-right: 20px;
}
.nav-list li{
    margin-right: 15px;
}
@media (max-width: 769px) {
    .burger-wrapper{
        display: block;
    }
    .nav-list{
        display: none;
    }
}